<div class="grid__item" id="team-link">
    <div class="product">
        <div class="tm-nav-link">
            <i class="fas fa-users fa-3x tm-nav-icon"></i>
            <span class="tm-nav-text">Our Team</span>
            <div class="product__bg"></div>
        </div>
        <div class="product__description">
            <div class="p-sm-4 p-2">
                <div class="row mb-3">
                    <div class="col-12">
                        <h2 class="tm-page-title">Background of Our Team</h2>
                    </div>
                </div>
                <div class="row tm-reverse-sm">
                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <p class="mb-4">Vestibulum aliquet, arcu accumsan lobortis bibendum, justo velit efficitur lorem, at pulvinar mi justo nec lacus. Nullam et libero aliquet, luctus nunc sit amet, tincidunt ligula. Sed finibus ante sed tortor cursus, nec malesuada lectus interdum.</p>
                        <p class="mb-4">Sed ex turpis, vulputate in efficitur id, lobortis eget nibh. Pellentesque maximus ipsum eget velit imperdiet sodales. Suspendisse in blandit mi.</p>
                        <p class="mb-5">Pellentesque finibus felis risus, ut malesuada felis viverra at. Quisque accumsan in mi non hendrerit.</p>
                        <a href="#" class="btn tm-btn-gray">Read More</a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                        <img src="img/team.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
